<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1 class="headers">The Coaches</h1>
      </div>

        <h2>Don Canfield:</h2>
          <ul>
            <li>Head Coach, York Boys Lacrosse, Elmhurst, IL. Currently in 9th season at York.</li>
            <li>York finished in the top 10 in Illinois in the 2016 season.</li>
            <li>2015 IHSLA Coach of the Year.</li>
            <li>President of Chicago Lacrosse Club, men's club team.</li>
            <li>Player and president of Miami University's MCLA club team 2004-2008.</li>
            <li>8th year as 7th grade math and social studies teacher in Berkeley, IL.</li>
          </ul>

        <h2>Josh Elmore:</h2>
          <ul>
            <li>U15 coach for Elmhurst Youth Lacrosse</li>
            <li>Played at Judson College</li>
          </ul>

        <h2>Steve Fijor:</h2>
          <ul>
            <li>Head JV Coach, York Boys Lacrosse. Currently in 3rd year</li>
            <li>Runs strength and conditioning for boys lacrosse program</li>
            <li>Physical Education Teacher at Jackson Elementary</li>
          </ul>
    </div>
  </div>
</div>
