<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>The Program</h1>
      <p>
        Mammoth Lacrosse Club was established in 2016 to provide high level coaching, training, and competition for lacrosse players in the Western Suburbs of Chicago.
        Mammoth Lacrosse Club is operated and coached by Don Canfield, the Head Boy's Lacrosse Coach at York Community High School. In 2015, Coach Canfield was named Illinois High School Boys Lacrosse Coach of the Year by his coaching peers. Practices and trainings are held in Elmhurst or neighboring communities. Mammoth Lacrosse offers club teams that compete at high level club tournaments in the Chicagoland area.
        In addition to club teams, Mammoth offers training sessions for players and teams. The mission of Mammoth Lacrosse Club is to provide a local, affordable, competitive,
        club team that teaches players the fundamentals of developing individual and team lacrosse skills as well as teaching teamwork, character, leadership, and a love of the game!
      </p>
    </div>
  </div>
</div>
