<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/about"><%= image_tag("cover.jpg", alt: "Mammoth") %></a>
      <div class="center">
        <h1 ><u>Mission of Mammoth</u></h1>
        <h2>To provide a competitive, local, low cost summer lacrosse club team to the players of the western suburbs of Chicago.</h2>
      </div>
      <br>
        <h2><u>What<u></h2>
          <p>Summer club lacrosse teams based in the western suburbs of Chicago. Mammoth practices and plays local, which means no hotels, no flights, and no extra fees. Mammoth teams play a competitive summer schedule at the top Illinois tournaments.</p>

        <h2><u>When<u></h2>
          <p>Summer Season Starts June 5 ends July 19. Practices take place on weekday evenings, and tournaments are played Saturday/Sunday (with the exception of Chicago Lacrosse Cup- HS Varsity only).</p>

        <h2><u>Where<u></h2>
          <p>All practices around Elmhurst area (Berens park and St. Domitilla). All tournaments in the Chicagoland area (Vernon Hills, Schaumburg, Naperville).</p>

        <h2><u>Who<u></h2>
          <p>Middle school boys up to rising seniors in high school. Players from any school can register. Rising 7th and 8th graders will play for U13, rising freshman will play for U15, rising sophomores and juniors will play for HS JV, select rising sophomore and juniors, and all seniors will play for HS Varsity.</p>

        <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSfYCtXs0I3sJWmZOuEaH09OhG0uccGRt5P2HInRTyTiAH4POQ/viewform">Register Now</a></h2>
    </div>
  </div>
</div>
