<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/about"><%= image_tag("cover.jpg", alt: "Mammoth") %></a>
      <div class="text-center">
        <h1 class="headers"><u>Mission of Mammoth</u></h1>
        <h2>To provide Elmhurst lacrosse players  a positive, encourgaing environment that teaches the technical and team aspects of lacrosse as well as teamwork, character, integrity, and a love of the game.</h2>
        <br>
        <h1><u>Summer Schedule</u></h1>
      </div>
      <br>
      <p><strong>Monday June 5th: </strong>St. Domitilla's grass 7-8:30pm</p>
      <p><strong>Wednesday June 7th: </strong>Berens Turf 7-8:30pm</p>
      <p><strong>Monday June 12th: </strong>Berens Turf 7-8:30pm</p>
      <p><strong>Wednesday June 14th: </strong>Berens Turf 7-8:30pm</p>
      <p><strong>Monday June 19th: </strong>Berens Turf 7-8:30pm. <em>NO HS Varsity Practice</em></p>
      <p><strong>Wednesday June 21st: </strong>Berens Turf 7-8:30pm. <em>NO HS Varsity Practice</em></p>
      <p><strong>Monday June 19th - Wednesday June 21st: </strong>Chicago Lacrosse Cup. VARSITY ONLY. Vernon Hills, IL</p>
      <p><strong>Saturday June 24th: </strong>Windy City Shootout. ALL LEVELS. Aurora, IL</p>
      <p><strong>Sunday June 25th: </strong>Windy City Shootout. ALL LEVELS. Aurora, IL</p>
      <p><strong>Monday June 26th: </strong>Berens Turf 7-8:30pm</p>
      <p><strong>Wednesday June 28th: </strong>Berens Turf 7-8:30pm</p>
      <p><strong>Wednesday July 5th: </strong>Berens Turf 8:30-10pm</p>
      <p><strong>Saturday July 8th: </strong>Pipe City Festival. ALL LEVELS. Vernon Hills, IL</p>
      <p><strong>Sunday July 9th: </strong>Pipe City Festival. ALL LEVELS. Vernon Hills, IL</p>
      <p><strong>Monday July 10th: </strong>Berens Turf 7-8:30pm</p>
      <p><strong>Wednesday July 12th: </strong>Berens Turf 6-7:30pm. <em>NO U13 Practice-U13 summer season over</em>.</p>
      <p><strong>Saturday July 15th: </strong>Summer Shootout. U15 and JV TEAMS ONLY. Schaumburg</p>
      <p><strong>Sunday July 16th: </strong>Summer Shootout. U15 and JV TEAMS ONLY. Schaumburg</p>
      <p><strong>Monday July 17th: </strong>Berens Turf 7-8:30pm. <em>NO U13 Practice-U13 summer season over<em>.</p>
    </div>
  </div>
</div>
