<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Travel Teams</h1>

      <h2><u>About</u></h2>
      <p>For the 2017 summer season, Mammoth Lacrosse club will be offering club teams for the following levels: <strong><u>U13, U15, JV, and Varsity</u></strong>
      The mission of Mammoth Lacrosse Club is to provide a local, affordable, competitive, club team that teaches players the fundamentals of developing individual and team lacrosse skills as well as teaching teamwork, character, leadership, and a love of the game!

      <h2><u>Tournaments</u></h2>
      <ul>
        <li>Each team will attend 3 local tournaments:</li>
        <li>Chicago Lacrosse Cup (Varsity Only) June, 2017. Vernon Hilss, IL</li>
        <li>Windy City Shootout (U13, U15, and JV) June, 2017. Naperville, IL</li>
        <li>Pipe City Lacrosse Festival, July 2017. Vernon Hills, IL</li>
        <li>Summer Shootout. July, 2017. Schaumburg, IL</li>
        <strong>*Schedule subject to change</strong>
      </ul>

      <h2><u>Practices</u></h2>
      <p><strong>*There will be a minimum of 10 practices for the summer season</strong></p>
      <p>Practices will be held in Elmhurst, or neighboring communities. Berens Park and St. Domitilla's are two sites for practices.</p>
      <p><strong>*Practices may occasionally be used to scrimmage another local team.</strong></p>

      <h2><u>Pricing</u></h2>
      <p><strong>U13, U15, JV:</strong></p>
        <ul>
          <li>$700 if registered by March 1st, 2017</li>
          <li>$750 if registered after March 1st, 2017</li>
        </ul>

      <br>
      <p><strong>Varsity:</strong></p>
        <ul>
          <li>$750 if registered by March 1st, 2017</li>
          <li>$800 if registered after March 1st, 2017</li>
        </ul>
      <br>
      <p><strong>*All fees should be paid by May 31st, 2017</strong></p>

      <p>Fess cover coaching, equipment, facilities, tournament fees, officials, uniform (penny and shorts).</p>

      <p>Payments are accepted by check made to Mammoth Lacrosse Club. Please mail checks to:<br>
      Don Canfield<br>
      2321 W. Walton St.<br>
      Chicago, IL 60622
      </p>
      </p>
    </div>
  </div>
</div>
