<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag("travel.png", alt: "Travel") %>
      <div class="center">
        <h1>Summer 2017 Teams</h1>
      </div>

      <h2><u>Pricing and Information</u></h2>
      <p><strong>U13:</strong> Team will have 8 practices/scrimmages, 2 tournaments. 2 coaches. Season: June 5-July 11th. Practices at Berens park or St Domitilla. Cost $425 for summer. Windy City Lax bash: June 24 & 25, Pipe City lacrosse festival July 9 & 10.</p>

      <br>

      <p><strong>U15:</strong> Team will have 10 practices/scrimmages, 3 tournaments. 2 coaches. Season: June 5-July 18th. Practices at Berens park or St Domitilla. Cost $575 for summer. Windy City Lax bash: June 24 & 25, Pipe City lacrosse festival July 9 & 10, Summer shootout July 16 & 17.</p>

      <br>

      <p><strong>High School JV:</strong> Team will have 10 practices/scrimmages, 3 tournaments. 2 coaches. Season: June 5-July 18th. Practices at Berens park or St Domitilla. Cost $575 for summer.Windy City Lax bash: June 24 & 25, Pipe City lacrosse festival July 9 & 10, Summer Shootout July 16 & 17.</p>

      <br>

      <p><strong>High School Varsity:</strong> Team will have 10 practices/scrimmages, 3 tournaments. 2 coaches. Season: June 5-July 18th. Practices at Berens park or St Domitilla. Cost $640 for summer. Chicago Lacrosse Cup: June 19, 20 & 21, Windy City Lax bash: June 24 & 25, Pipe City lacrosse festival July 9 & 10.</p>

      <br>

      <div class="right">
        <p><strong>*Prices reflect early bird fees</strong></p>
        <p>All payments should be made out to Mammoth Lacrosse Ltd. and mailed to:<br>
        Don Canfield<br>
        2321 W. Walton St.<br>
        Chicago, IL 60622
        </p>
      </div>

      <br>

      <p>Questions? Contact Director Don Canfield at canfieldm@gmail.com</p>


    </div>
  </div>
</div>
